#submit {
  position: absolute;
  left: 82.98%;
  right: 1.28%;
  top: 31.58%;
  bottom: 31.58%;
  /* margin-left: -100px; */
}

#submit:hover {
  color: white;
  -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  background-color: #1e1e1e;
}

  